[submodule "submodules/vendor/charm"]
	path = submodules/vendor/charm
	url = https://github.com/littensy/charm
	branch = alien-signals
[submodule "submodules/vendor/vide"]
	path = submodules/vendor/vide
	url = https://github.com/centau/vide
[submodule "submodules/vendor/greentea"]
	path = submodules/vendor/greentea
	url = https://github.com/corecii/greentea
[submodule "test/suite"]
	path = test/suite
	url = https://gist.github.com/littensy/fa9afcc5d66d25e86538634982be4ee4
